@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600&display=swap');

*, *:before, *:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #1D110E;
}

a{
  text-decoration: none;
}


ol{
  padding: 0 0;
}

body{
  background-color: #FCFCFC;
}

h2,
h1{
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.05em;
  margin:0 auto 40px;
  color: #08818C;
  text-align-last: center;
}

p{
  text-indent: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #1D110E;
}

.container{
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}



.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  box-shadow: 0px 5px 4px rgba(186, 186, 186, 0.24);
}

.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FCFCFC;
  z-index: 2;
}

.header_body{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.social__net{
  position: relative;
  z-index: 3;
  order: 2;
}

.social__net img:hover{
  transform: scale(1.05);
  transition: all 0.3s ease 0s;
}

.header_burger{
  display: none;
}

.header_menu{}

.header__list{
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li{
  list-style: none;
  margin-left: 20px;
}

.header__list li:first-child{
  margin-left: 0;
}

.header__link{
  color: #1D110E;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.header__link:hover{
  color: #08818C;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {

    body.look{
      overflow: hidden;
    }

    .header_body{
      height: 50px;
    }
    
    .header_burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
    }

    .header_burger:before,
    .header_burger:after{
      content: '';
      background-color: #055259;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    .header_burger span{
      position: absolute;
      background-color: #055259;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
    }

    .header_burger:before{
        top: 0;
    }

    .header_burger:after{
      bottom: 0;
    }

    .header_burger.active span{
      transform: scale(0);
    }

    .header_burger.active:before{
      transform: rotate(45deg);
      top: 9px;
    }

      .header_burger.active:after{
      transform: rotate(-45deg);
      bottom: 9px;
    }

    .header_menu{
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #6FA2F2;
      padding: 70px 10px 20px 10px;
      transition: all 0.3s ease 0s;
    }

    .header_menu.active{
      top: 0;
    }

    .header__list{
      display: inline-block;
      text-align: right;
      margin-right: 20px;
      position: absolute;
      right: 0; 
    }

    .header__list li{
      margin: 0 0 20px 0;
    }

    .social__net{
      order: 0;
    }

}

.filler_block{
  margin-top: 80px;
}

/*--------------------------------*/

.info{
  display: flex;
  height: 110px;
  align-items: center;
}

.logo{
  display: inline-block;
}

.contact-inner{
  display: inline-block;
  margin-left: auto;
}

.K{
  color: #08818C;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
}

.aSta{
  color: #08818C;
  margin-left: -6px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}

.contact1,
.contact2{
  display: inline-block;
}

.contact2{
  margin-left: 50px;
}


.contact1 span,
.contact2 span{
  display: block;
  padding-left: 26px;
  color: #1D110E;
  font-weight: 300;
  line-height: 175%;
}

.place{
  position: relative;
}

.place:after{
  display: block;
  position: absolute;
  content: '';
  background-image: url(../img/place.svg);
  height: 18px;
  width: 18px;
  left: 2px;
  top: 7px;
}

.phone{
  position: relative;
}

.phone:after{
  display: block;
  position: absolute;
  content: '';
  background-image: url(../img/call.png);
  height: 18px;
  width: 18px;
  left: 2px;
  top: 7px;
}

/*------------------------------------*/

.reception{
  position: relative;
  overflow: hidden;
  background:linear-gradient(92deg, rgba(111, 162, 242, 0.84) 32.71%, #08818C 89.51%), url(../img/receptiion_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;

  overflow: hidden;
  min-height: 800px;
}
.reception_girl{
  position: relative;
  min-height: 800px;
}

.reception_girl:before{
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(../img/reception_girl.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 80%;

}




.reception_content{
  display: inline-block;
  margin: 310px 0 177px;
  max-width: 450px;
}

.reception_content h4{
  margin: 0 0 35px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
}

.reception_content ul{
  list-style-type: none;
  padding-left: 0;
}

.reception_content ul li{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
  padding-left: 24px;
  position: relative;
}

.reception_content ul li:after{
  display: block;
  position: absolute;
  content: '';
  background-image: url(../img/tick.svg);
  height: 15px;
  width: 15px;
  left: 1px;
  top: 4px;
}

.reception_button{
  position: absolute;
  display: inline-block;
  max-width: 280px;
  min-height: 50px;
  border-radius: 5px;
  background-color: #08818C;
  margin-top: 35px;
}

.reception_button:hover{
  background-color: #05474D;
  transition:  all 0.3s ease 0s;
}

.reception_button a span{
  display: block;
  padding: 13px 38px 13px 38px;
  color: #fff;
  font-weight: 300;
  line-height: 175%;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

/*------------------------------------------*/


@media (max-width: 1290px) {

    .container{
      max-width: 970px;
    }

  .reception_girl:before{
    background-size: 90%;
  }


}

@media (max-width: 992px) {

    .container{
      max-width: 750px;
    }

    .reception_girl:before{
      background-size: 80%;
    }

    .reception_content{
      
      
    }

    .reception_content h4{
    }

}

@media (max-width: 767px) {

    .container{
      min-width: none;
      width: 100%;
    }

    .reception_girl:before{
      display: none;
    }

    .reception_girl{
      display: flex;
      min-height: 510px;
      justify-content: center;
      -webkit-box-pack: center;
    }

    .reception{
        min-height: 510px;
    }

    .reception_content{
      text-align: center;
      margin: 64px 0;
    }

    .reception_content ul li:after{
      display: none;
    }

    .soc_net{
      order: 1;
    }

    .menu{
      display: none;
    }

    .mobile-menu{
      display: block;
      position: relative;
      width: 35px;
      height: 25px;
      order: 2;
    }

    .mobile-menu span{
      display: block;
      background-color: #055259;
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: 5px;
    }

    .mobile-menu:before,
    .mobile-menu:after{
      content: '';
      background-color: #055259;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      border-radius: 5px;
    }

    .mobile-menu:before{
      top: 11px;
    }

    .mobile-menu:after{
      bottom: 0;
    }

    .filler_block{
      margin-top: 50px;
    }

    .contact_block{
      display: none;
    }

}


/*--------------------КОНЕЦ ШАПКИ--------------------------------*/

/*------------------НАЧАЛО КОНТЕНТА--------------------------------*/


.about_inner{
  width: 100%;
  margin-top: 120px;
  overflow: hidden;
}

.about_content{
  margin-top: 40px;
}

.about_content p{
  display: block;
  margin-top: 35px;
}

.about_content p:first-child{
  text-align: center;
  text-indent: 0;
  font-weight: bolder;
  margin: 0;
}

.about_img{
  max-width: 100%;
  float: right;
  margin: 0px 125px 0px 125px;
}

@media (max-width: 992px) {

  .about{
    text-align: center;
  }

  .about_img{
    float: none;
    margin: 0 auto;
  }

  .about_content div{
    text-align: left;
  }


  .about_content p:not(:first-child){
    text-align: left;
  }


}


@media (max-width: 767px) {

    .about{
      text-align: center;
    }

    .about_inner{
      margin-top: 30px;
    }

    .about_img{

    }

    .about_content p:not(:first-child){
      display: none;
    }

    .about_content p{
      font-style: 16px;
    }

}



/*-----------------------------------------------------*/
/*------------------Блок с проскальзыванием изображения----------------*/


.picture_block{
  margin-top: 120px;
  position: relative;
  background: url(../img/scrolin_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  overflow: hidden;
}

.picture_block:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 129, 140, 0.60);
  z-index: -2;
}

.picture_block_content{
  display: flex;
  align-items: center;
  padding: 60px 0;
}


.picture_block_content div:first-child{
  display: inline-block;
  flex: 0 0 70%;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;

}

.picture_block_text{
  padding-left: 75px;
  display: inline-block;
  position: relative;
  max-width: 70%;
}

.picture_block_text:before{
  display: block;
  position: absolute;
  content: '';
  background-image: url(../img/chemodan.svg);
  height: 45px;
  width: 52px;
  left: 0;
  top: 50%;
  transform: translate(0,-50%);
  
}

.picture_block_button{
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
}

.picture_block_button span{
  position: relative;
  display: inline-block;
  padding: 13px 35px;
  color: #08818C;
  z-index: 100;
}


@media (max-width: 767px){

  .picture_block{
    margin-top: 20px;
  }

  .picture_block_content{
    display: block;
    text-align: center;
  }

  .picture_block_content div:first-child{
    display: block;
    font-size: 20px;
    line-height: 22px;
  }

  .picture_block_button{
    margin-top: 18px;
  }

  .picture_block_text{
    padding: 0;
  }

  .picture_block_text:before{
    display: none;
  }

  .picture_block_content{
    padding: 30px;
  }

}

/*-------------------------------*/
/*-----------------Услуги-------------------*/

.setvices-inner{
  margin-top: 120px;
  width: 100%;
  overflow: hidden;
}

.services_table{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.services_item-inner{
  flex: 0 0 33.33%;
  text-align: center;
  padding: 0px 15px;
}

.services_item{
  display: block;
  border-radius: 5px;
  box-shadow: 0px 4px 6px -1px rgba(105, 105, 105, 0.4);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 30px 23px;
  background-color: #fff;
}

.services_item:nth-child(-3n+11){
  margin-left: auto;
  margin-right: auto;
}

.services_item h3{
  display: block;
  font-weight: 400;
  height: 65px;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #1D110E;
}

.services_img-inner{
  display: inline-block;
  position: relative;
  margin: 30px 0 40px;
}

.services_button{
  display: inline-block;
  position: relative;
  background-color: #08818C;
  border-radius: 5px;
}

.services_item:hover{
  transition:  all 0.3s ease 0s;
  transform: translate(0, -5px);
  box-shadow: 0px 8px 8px -1px rgba(105, 105, 105, 0.4);
  transform: scale(1.02);
}

.services_button:hover{
  background-color: #055259;
  transition:  all 0.3s ease 0s;
}


/* кружок по svg
.services_img-inner:before{
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 140%;
  height: 140%;
  transform: translate(-50%,-50%);
  background-color: rgba(8, 129, 140, 0.60);
  border-radius: 100px;
}

*/

.services_button span{
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFF;
  padding: 6px 30px;
}


@media (max-width: 767px){

  .services_table{
    display: block;
  }

  .services_item-inner{
    flex: none;
    width: 100%;
  }

}

@media (max-width: 992px){

  .services_item-inner{
    flex: 0 0 50%;
  }

}


/*---------------------------------------*/
/*---------------ОТЗЫВЫ------------------*/

.reviews{
  width: 100%;
  overflow: hidden;
  margin-top: 120px;
}

.reviews_content_top{
  text-align: center;
}

.reviews_content_top p{
  display: block;
  width: 90%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.bg_slider{
  display: block;
  margin-top:50px;
  position: relative;
}

.bg_slider:after{
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background: #EEEEEE;
  border-radius: 5px;
  z-index: -1;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  width: auto;
}

/* Лента слайдов */
.slick-track{
  display: flex;
  align-items: flex-start;
}


.slider{
  position: relative;
  padding: 57px 80px 57px 0px; 
}

.slider .slick-arrow{
  position: absolute;
  width: 55px;
  height: 55px;
  right: 0;
  bottom: 50%;
  z-index: 10;
  font-size: 0;
  background-color: #087782;
  border-radius: 100px;
}

.slider .slick-arrow.slick-prev{
  transform: translate(0,125%);
}

.slider .slick-arrow.slick-next{
  transform: translate(0,-25%);
}

.slider .slick-arrow.slick-prev:after{
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 15px;
  height: 25px;
  background-image: url(../img/arrow_left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 100;
}
.slider .slick-arrow.slick-prev:after,
.slider .slick-arrow.slick-next:after{
  position: absolute;
  content: '';
  top: 50%;
  right: : 50%;
  transform: translate(-40%,-50%);
  width: 15px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 100;
}

.slider .slick-arrow.slick-next:after{
  background-image: url(../img/arrow_right.svg);
}

.slider .slick-arrow.slick-prev:after{
  background-image: url(../img/arrow_left.svg);
}

.slider_item{
  max-width: 550;
  background-color: #fff;
  border-radius: 5px;
  padding: 50px 45px 0 45px;
}

.slick-slide {
  margin-left: 15px;
}
/* the parent */
.slick-list {
  margin-left: -15px;
}



.slider_item div span{
  display: block;
  position: relative;
  padding-left: 60px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.08em;
}

.slider_item div span:before{
  display: inline-block;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url(../img/quotation_marks.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.slider_item div p{
  margin-top: 25px;
  margin-bottom: 45px;
  text-indent: 0px;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 45px;
}

@media (max-width: 992px){

  .slider {
    padding-right: 30px;
  }

.slider_item{
  margin-bottom: 40px;
}

.slider .slick-arrow{
    right: 0;
    bottom: 0;
  }

  .slider .slick-arrow.slick-prev{
    transform: translate(-180%,-20px);
  }

  .slider .slick-arrow.slick-next{
    transform: translate(-30px,-20px);
  }

}

@media (max-width: 767px){

  .slider_item{
    padding: 40px 15px 30px;
    border-radius: 0;
  }

  .slider {
    padding-right: 0;
  }

  .bg_slider.container{
    padding: 0
  }

  .reviews_content_top p{
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  .slider .slick-arrow.slick-prev{
    transform: translate(-125%,-20px);
  }

  .slider .slick-arrow.slick-next{
    transform: translate(0,-20px);
  }

  .slick-slide {
    margin-left: 15px;
  }
  /* the parent */
  .slick-list {
    margin-left: -15px;
  }

}

/*-----------------------fooooter---------0*/
/*##########################################*/

footer{
  margin-top: 120px;
  color: #fff;
  overflow: hidden;
}


footer a{
  color: #fff;
}

h5{
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  height: 86px;
}

.footer_top{
  background: linear-gradient(360deg, #1D110E -52.6%, #08818C 100%);
  min-height: 600px;
}

.footer_top a{
}

.footer_top ul{
  list-style-type: none;
}

.footer_top ul li{
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
}

.fot_top_float_grid{
  display: table;
  clear: both;
  content: '';
  width: 100%;
}
  

.navigations,
.socnet_footer,
.contact_footer{
  min-height: 300px;
  margin-right: 20px;
  margin-top: 30px; 
  float: left;
}

.navigations{
  width: calc(22% - 20px);
}

.socnet_footer{
  width: calc(28% - 20px);
}

.contact_footer{
  width: 50%;
  margin-right: 0;
}

.navigations ul,
.socnet_footer ul,
.contact_footer_grid{
  margin-top: 20px;

}

.navigations ul li{
  margin-top: 20px;
  text-decoration-line: underline;
}

.socnet_footer ul li{
  display: inline-block;
  margin-right: 15px;
}

.contact_footer_grid{
  display: grid;
  grid-template-columns: 50% 50%;
}

.cont_foot_gr_item{
  padding-bottom: 70px;
}

.cont_foot_gr_item li{
  position: relative;
  margin-top: 1px;
  padding-left: 30px;
}

.bef_loc:before,
.bef_tel:before,
.bef_time:before,
.bef_mail:before{
  display: block;
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 2px;
  top: 7px;
  background-size: contain;
  background-repeat: no-repeat;
}

.bef_loc{
  margin-bottom: 10px;
}

.bef_loc:before{
  background-image: url(../img/place_w.svg);
}

.bef_tel:before{
  background-image: url(../img/call.svg);
}

.bef_time:before{
  background-image: url(../img/clock.svg);
}

.bef_mail:before{
  background-image: url(../img/mail.svg);
}

@media (max-width: 992px){


  .navigations,
  .socnet_footer,
  .contact_footer{
  }

  .navigations{
    width: calc(60% - 20px);

  }

  .socnet_footer{
    width: calc(40%);
    float: right;
    margin-right: 0;
    text-align-last: left;
  }

  .contact_footer{
    width: 100%;
    margin-right: 0;
  }


}

@media (max-width: 767px){

  .navigations{
    width: calc(70%);
    margin-right: 0;

  }

  .socnet_footer{
    width: calc(10%);
    float: left;
    margin-right: 0;
    text-align-last: left;
  }

  .socnet_footer h5{
    font-size: 0;
  }

  .socnet_footer ul li{
    width: 100%;
    margin-right: 0px;
    margin-top: 10px;
  }

  .contact_footer{
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 500px){

  .contact_footer_grid{
    grid-template-columns: 100%;
  }

  .cont_foot_gr_item{
    padding-bottom: 40px;
  }

}

/*---------------------------------*/

.footer_bottom{
  background-color: #05474D;
}

.ft_btm_cont{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ft_btm_cont span{
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
}

@media (max-width: 992px){

  .ft_btm_cont{
    display: block;
    text-align: center;
  }

  .ft_btm_cont span{
    display: block;
  }
}

@media (max-width: 767px){
  .ft_btm_cont span:nth-child(2){
    display: none;
  }
}